@import "../Variables.scss";

.App {
  text-align: center;

  h1,
  h2,
  h3 {
    font-family: $font-primary;
  }

  h1 {
    color: $theme-light;
    font-size: 4rem;
    text-transform: uppercase;
  }

  .finder {
    font-family: $font-secondary;
    letter-spacing: 0.25rem;
    text-transform: none;
  }
}

.book-results {
  
  overflow: auto;
  height: 80vh;
  background: linear-gradient($theme-dark, rgba(255, 255, 255, 0.637));
    
  
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-message {
    font-size: 1.2rem;
    color: $theme-light;
    margin: 5rem auto;
    max-width: 300px;
    line-height: 1.5;
    font-family: $font-secondary;
  }
}

.body-heading {
  padding: 1rem;
  z-index: 10;
  height: 20vh;
  background-color: $theme-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-input {
  border: 1px solid $theme-light;
  background-color: $theme-dark;
  color: $theme-light;
  font-size: 1rem;
  padding: 0.5rem;
  margin-right: 0.75rem;
  width: 20rem;
  font-family: $font-primary;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.753);
}

@media (max-width: $screen-xs) {
  .App {
    h1 {
      font-size: 2rem;
    }
  }

  .search-input {
    width: 90%;
    margin-right: 0;
  }
}
