
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Karma', serif;

$theme-dark: #000b29;
$theme-accent: #d70026;



$screen-xs: 575px;
$screen-m: 768px;
$screen-lg: 991px;
$screen-xl: 1199px;